body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.cart-item {
  background-color: #fafaf5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
  border: 3px solid lightgray;
  cursor: pointer;
}
.cart-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.item-details {
  margin-left: 15px;
  flex-grow: 1;
}
.item-details h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.item-details span {
  color: #6c757d;
  font-size: 14px;
  color: #426b1f;
  font-size: 16px;
  font-weight: 700;
}
.price {
  font-weight: 900;
}

.order-summary {
  background-color: #fafaf5;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid lightgray;
  margin: 25px;
}
.order-summary h5 {
  font-weight: 600;
}
.btn-green {
  background-color: #426b1f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}
.btn-green:hover {
  background-color: #218838;
}
